@font-face {
    font-family: "IBM";
    src: url(Web437_IBM_BIOS.woff2);
}

#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

#introVideo{
    height: 100%;
    max-width: 99vw;
    filter: brightness(2);
    position: absolute;
    top: 50%;
    left: -9999px;
    transform: translate(-50%, -50%);
}

#backgroundImage{
    position: absolute;
    display: flex;
    align-self: center;
    top: 0;
    z-index: -1;
    height: 99vh;
    max-width: 99vw;
    padding: 0;
}

#mainMenu{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1vh;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: 100% 100%
}

#mainMenu h2 {
    margin-bottom: 10vh
}

#mainMenu button {
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    width: 10rem;
    height: 2rem;
}

section{
    display: none;
}

body {
    background-image: url();
    background-color: black;
    height: 99.5vh;
    width: 99.5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    font-family: "IBM";
    font-weight: 001;
}

p, h2, h3, h4{
    color: white;
}

#egg{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: default;
}

#optionsDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 2em;
    transform: translate(-50%, -50%);
}

#puzzles{
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#puzzleBox{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2%;
}

#puzzleBox > div{
    width: fit-content;
}

#puzzleBox button{
    background-color: black;
    border: 1px solid grey;
    cursor: pointer;
}

#notificationDiv > h2{
    color: red;
}

#checkPuzzle{
    position: absolute;
    color: white;
    background-color: black;
    border: 2px solid white;
    right: 0;
    bottom: 0;
    padding: 1em;
}

#checkPuzzle:active{
    background-color: rgb(39, 39, 39);
}

#optionsDiv > button{
    padding: 2em;
}

#retryButton{
    color: white;
    background-color: black;
    border: 2px solid white;
    position: absolute;
    padding: 1em;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
}

#retryButton:active{
    background-color: rgb(34, 34, 34);
}

#dialogBox{
    border: 5px solid white;
    position: absolute;
    width: 70vw;
    bottom: 2%;
    left: 15%;
    min-height: 20vh;
    max-height: 20vh;
    background: rgb(0, 0, 0, 0.8);
}

#dialogBox p{
    margin: 1em;
    width: 97.5%;
    line-height: 2em;
    height: fit-content;
    max-height: 100%;
    overflow-y: hidden;
}

#boxArrow{
    max-width: 100px;
    height: fit-content;
    align-self: flex-end;
    right: -8em;
    position: absolute;
}

#boxImage{
    max-width: 11em;
    max-height: 100%;
}

#optionsDiv{
    display: flex;
    justify-content: space-between;
}

#credits {
    flex-flow: column;
    height: 100%;
    text-align: center;
}

#credits button {
    width: 10%;
    align-self: center
}

button#fullscreen {
    font-size: 30px;
    width: 4rem;
    height: 4rem;
    align-self: flex-end;
    margin-bottom: 30vh

}

#inventory {
    flex-flow: column
}

#inv {
    border: white 1px solid;
    height: fit-content;
    color: white;
    display: flex;
    flex-flow: column;
}

#inv p {
    margin-left: 1vw;
    margin-top: 2vh;
    line-height: 2vh;
}

#inv button {
    margin-left: 1vw;
    margin-top: 2vh;
    line-height: 2vh;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
}

#battle{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 16vh;
    background-position: center;
}

#battleText{
    background-color: rgb(0, 0, 0, 0.6);
    border: 5px solid white;
    width: 70vh;
    height: 20vh;
    margin-bottom: 2vh;
}

#battleButtons > button{
    color: white;
    background-color: black;
    padding: 0.5em;
    border: 2px solid white;
}

#health {
    align-self: center;
    position: absolute;
    bottom: 5%;
}

#health p {
    animation: rainbow 15s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

/* media query for phone screen size */
/* max-width is temporary, replace with better number */
@media screen and (max-width: 900px){
    #dialogBox{
        left: 2%;
        width: 95%;
    }
    #boxArrow{
        right: -5vw;
        top: -80vh;
    }
    #puzzleBox div {
        width: 100%;
    }
    #puzzleBox div button img {
        height: 7vw;
    }
    #checkPuzzle {
        position: unset;

    }
}

@media screen and (max-width: 680px){
    #puzzleBox div button img {
        height: 6vw;
    }
    #puzzleBox div {
        width: 100%;
    }
}

/* media query for upright phone */
@media screen and (max-width: 450px){
    section{
        display: none;
    }
    body{
        content: url("/images/rotate.gif");
        width: 100%;
        height: fit-content;
    }
}